# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SWEEP36_LEFT
    def_bool $(shields_list_contains,sweep36_left)

config SHIELD_SWEEP36_RIGHT
    def_bool $(shields_list_contains,sweep36_right)
